<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <sitecoreDeploy>
      <authenticationProvider type="SitecoreDeploy.Security.ChapAuthenticationProvider, SitecoreDeploy">
        <!-- at least 64 characters
        Need some randomness? Try here: https://www.random.org/passwords/?num=5&len=24&format=html&rnd=new
        -->
        <sharedSecret>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</sharedSecret>
        <challengeDatabase>web</challengeDatabase>
      </authenticationProvider>

      <commandList  type="SitecoreDeploy.CommandList, SitecoreDeploy" >
        <commands hint="raw:AddCommand">
          <!-- patch in more commands here if you want to extend.  Commands must inherit from SitecoreDeploy.Commands.SitecoreDeployCommand  -->
          <command type="SitecoreDeploy.Commands.Publish, SitecoreDeploy"/>
          <command type="SitecoreDeploy.Commands.DeployMarketingDefinitions, SitecoreDeploy" />
          <command type="SitecoreDeploy.Commands.RebuildIndexes, SitecoreDeploy" />
          <command type="SitecoreDeploy.Commands.RebuildLinkDatabases, SitecoreDeploy" />
        </commands>
      </commandList>

    </sitecoreDeploy>

    <pipelines>
      <httpRequestBegin>
        <!-- patch after user resolver so we have the option to allow a UI for an admin user at some point -->
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="SitecoreDeploy.ExecuteCommandPipelineProcessor, SitecoreDeploy">
          <param desc="route">/SitecoreDeploy.aspx</param>
        </processor>
      </httpRequestBegin>
    </pipelines>

  </sitecore>
</configuration>
